---
import "../styles/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import Education from "@components/Education.astro";
import CoursesAndCertifications from "@components/CoursesAndCertifications.astro";
import Nav from "@components/Nav.astro";
import Skills from "@components/Skills.astro";
import Footer from "@components/Contact.astro";
import { translations } from "@/i18n/utils/utils";
const translationsModule = translations as {
  default: {
    basics: any;
    about: any;
    experience: any;
    volunteer: any;
    education: any;
    awards: any;
    certificates: any;
    publications: any;
    skills: any;
    languages: any;
    interests: any;
    references: any;
    projects: any;
    footer: any;
    active: Record<string, boolean>;
  };
};
const {
  basics = {},
  about: about = {},
  experience: experience = {},
  volunteer = {},
  education = {},
  awards = {},
  certificates = {},
  publications = {},
  skills = {},
  languages = {},
  interests = {},
  references = {},
  projects = {},
  footer = {},
  active = {},
} = translationsModule.default;
---

<Layout>
  <div
    class="containerPage container mx-auto flex flex-col items-center justify-center gap-y-7 p-6 md:p-20 xl:px-75"
  >
    {active.Hero && <Hero data={basics} data-section />}
    {active.About && <About data={about} data-section />}
    {
      active.Experience && (
        <Experience data={[experience, skills]} data-section />
      )
    }
    {active.Projects && <Projects data={[projects, skills]} data-section />}
    {active.Education && <Education data={education} data-section />}
    {
      active.CoursesAndCertifications && (
        <CoursesAndCertifications data={certificates} data-section />
      )
    }
    {active.Skills && <Skills data={skills} data-section />}
    {active.Footer && <Footer data={[basics, footer]} data-section />}
    {active.Nav && <Nav data={active} />}
  </div>
</Layout>
