---
const { data } = Astro.props;
---

<section
  id="CoursesAndCertifications"
  aria-labelledby="certifications-heading"
  itemscope
  itemtype="https://schema.org/CollectionPage"
>
  <h2>{data.title}</h2>
  <hr />
  {
    data && data.list && data.list.length > 0 && (
      <div class="container" role="listitem" itemscope class="flex flex-col">
        {data.list.map((courses) => (
          <div>
            <div class="flex justify-between">
              <h3>
                <a
                  href={courses.credential_url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {courses.name}
                </a>
                <span>({courses.score})</span>
              </h3>
              <span>{courses.date}</span>
            </div>
            <ul class="bull">
              <li>{courses.summary}</li>
            </ul>
          </div>
        ))}
      </div>
    )
  }
</section>
