---
const { data } = Astro.props;
const education = data;
---

<section
  id={education.title}
  aria-labelledby={`${education.title}-heading`}
  itemscope
  itemtype="https://schema.org/CollectionPage"
>
  <h2 id="education-heading">{education.title}</h2>
  <hr />
  <div class="container flex flex-col gap-6" role="list">
    {
      education &&
        education.list &&
        education.list.map((item) => (
          <div role="listitem" itemscope class="flex flex-col">
            <div class="flex justify-between">
              <h3>{item.name}</h3>
              <div>
                {item.date}
              </div>
            </div>
            <h4>
              <div class="flex justify-between">
                <span>
                  <em>
                    {item.issuer}
                  </em>
                </span>
                <span class="font-extrabold">{item.score}</span>
              </div>
            </h4>
            {/* Si tienes summary, puedes mostrarlo aquí */}
            {item.summary && (
              <ul class="bull">
                <li>{item.summary}</li>
              </ul>
            )}
          </div>
        ))
    }
  </div>
</section>