---
import { Image } from "astro:assets";
import Me from "../assets/images/me.webp";
const { data } = Astro.props;
const basicInfo = { ...data };
---

<section id="Hero">
  <div class="container">
    <div
      class="info grid h-full grid-flow-row auto-rows-auto items-center text-center"
    >
      {
        basicInfo.name && (
          <Image
            src={Me}
            alt={basicInfo.name}
            class="noprint order-1 col-span-2 col-start-2 mx-auto h-50 w-50 max-w-xs justify-self-center rounded-3xl object-cover"
          />
        )
      }
      <div
        id="info"
        class="order-2 col-span-4 flex h-full flex-col place-content-between items-center gap-2.5"
      >
        {
          basicInfo.name && (
            <h1 class="text-3xl capitalize" itemprop="name">
              {basicInfo.name}
            </h1>
          )
        }
        <div>
          {
            basicInfo.summary && (
              <p itemprop="description">{basicInfo.summary}</p>
            )
          }
          {
            basicInfo.location && basicInfo.location.url && (
              <a
                class="flex justify-center"
                aria-label="Location"
                href={basicInfo.location.url}
              >
                {basicInfo.location.city &&
                  basicInfo.location.region &&
                  (() => {
                    const direction = `${basicInfo.location.city}, ${basicInfo.location.region}`;
                    return (
                      <>
                        {basicInfo.location.icon && (
                          <img
                            src={basicInfo.location.icon}
                            alt={direction}
                            title={direction}
                            class="icon-dark mr-1.5"
                            width={16}
                            height={16}
                            style="width:16px; height:16px;"
                          />
                        )}
                        <span
                          itemprop="address"
                          itemscope
                          itemtype="http://schema.org/PostalAddress"
                        >
                          <meta
                            itemprop="addressLocality"
                            content={basicInfo.location.city}
                          />
                          <meta
                            itemprop="addressRegion"
                            content={basicInfo.location.region}
                          />
                          {direction}
                        </span>
                      </>
                    );
                  })()}
              </a>
            )
          }
        </div>

        <ul
          class="flex flex-wrap justify-center gap-0.5 md:justify-start"
          role="list"
          aria-label="Contact information"
        >
          {
            basicInfo.contact &&
              Object.keys(basicInfo.contact).map((categorie, index) => {
                const { data, icon } = basicInfo.contact[categorie];
                return data ? (
                  <>
                    <li class="noprint flex">
                      <a
                        href={categorie === "email" ? `mailto:${data}` : data}
                        class="flex items-center"
                      >
                        {icon && (
                          <img
                            src={icon}
                            alt={categorie}
                            title={data}
                            class="icon mr-1.5"
                            width={28}
                            height={28}
                            style="width:28px; height:28px;"
                          />
                        )}
                      </a>
                    </li>
                    <div class="print hidden text-nowrap">
                      <span class="mx-3.5 inline-flex">
                        {icon && (
                          <img
                            src={icon}
                            alt={categorie}
                            title={data}
                            class="icon mr-1.5"
                            width={20}
                            height={20}
                            style="width:20px; height:20px; border: none;"
                          />
                        )}
                        <span class="underline">{data}</span>
                      </span>
                    </div>
                  </>
                ) : null;
              })
          }
          {
            basicInfo.profiles &&
              basicInfo.profiles.map((profile) => (
                <>
                  <li class="noprint flex items-center">
                    <a
                      href={profile.url}
                      target="_blank"
                      rel="noopener"
                      class="flex items-center"
                      aria-label={`${basicInfo.name} on ${profile.network}`}
                    >
                      {profile.icon && (
                        <img
                          src={profile.icon}
                          alt={profile.network}
                          title={profile.network}
                          class="icon profileIcon mr-1.5"
                          width={28}
                          height={28}
                          style="width:28px; height:28px;"
                        />
                      )}
                    </a>
                  </li>
                  <div class="print hidden text-nowrap">
                    <span class="mx-3.5 inline-flex">
                      {profile.icon && (
                        <img
                          src={profile.icon}
                          alt={profile.network}
                          title={profile.network}
                          class="icon profileIcon mr-0.5"
                          width={20}
                          height={20}
                          style="width:20px; height:20px; border: none;"
                        />
                      )}
                      <a
                        href={profile.url}
                        class="underline"
                        style="text-transform: lowercase;"
                      >
                        {profile.url.replace(/https?:\/\/(www\.)?/, "")}
                      </a>
                    </span>
                  </div>
                </>
              ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  @media print {
    .print-container {
      max-width: 100%;
      word-wrap: break-word;
    }
    .print-container span {
      display: inline-block;
      margin-right: 5px;
    }
  }
</style>
