---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import { getCurrentLang, getTranslations } from "../i18n/utils/utils.ts";
const AnalyticsComponent = Analytics as any;
const SpeedInsightsComponent = SpeedInsights as any;

// Se usa Astro.locals.lang si existe, de lo contrario se usa getCurrentLang()
const lang = (Astro.locals as any)?.lang ?? getCurrentLang();
const translationsModule = getTranslations(lang);

import personData from "../data/json-ld-person.js";
import portfolioData from "../data/json-ld-creativework.js";
const faviconUrl = "/favicon.png";

const { basics } = translationsModule;
const { name, image, summary, url, shareTitle } = basics;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={summary} />
    <link rel="icon" href={faviconUrl} type="image/png" />

    <!-- Script para establecer el tema lo antes posible -->
    <!--
    <script is:inline>
      (function () {
        const storedTheme = localStorage.getItem("theme");
        let theme;
        if (storedTheme === "dark" || storedTheme === "light") {
          theme = storedTheme;
        } else {
          theme = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
        }
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>
    -->

    <!-- Schema -->
    <script type="application/ld+json" set:html={JSON.stringify(personData)} />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(portfolioData)}
    />

    <!-- Open graph -->
    <meta property="og:title" content={shareTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:description" content={summary} />
    <meta property="og:site_name" content={name} />
    <meta property="og:locale" content={lang} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={shareTitle} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content={image} />

    <title>{name}</title>
  </head>

  <body>
    <slot />
    {/** @ts-ignore */}
    <Analytics />
    {/** @ts-ignore */}
    <SpeedInsights />
  </body>
</html>
