---
import { lang, translations } from "../i18n/utils/utils.ts";
import personData from "../data/json-ld-person.js";
import portfolioData from "../data/json-ld-creativework.js";
const faviconUrl = "../../public/favicon.png";
const translationsModule = translations as {
  default: {
    basics: any;
  };
};
const { basics } = translationsModule.default;
const { name, image, summary, url, shareTitle } = basics;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={summary} />
    <link rel="icon" href={faviconUrl} type="image/svg+xml" />

    <!-- Script para establecer el tema lo antes posible -->
    <script is:inline>
      (function () {
        const storedTheme = localStorage.getItem("theme");
        let theme;
        if (storedTheme === "dark" || storedTheme === "light") {
          theme = storedTheme;
        } else {
          theme = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
        }
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>

    <!-- Schema -->
    <script type="application/ld+json" set:html={JSON.stringify(personData)} />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(portfolioData)}
    />

    <!-- Open graph -->
    <meta property="og:title" content={shareTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:description" content={summary} />
    <meta property="og:site_name" content={name} />
    <meta property="og:locale" content={lang} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={shareTitle} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content={image} />

    <title>{name}</title>
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --bg-color: #ffffff;
    --text-color: rgba(17, 17, 17, 0.9);
    --nav-bg: rgb(229, 229, 229);
    --nav-border: rgba(0, 0, 0);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #101426;
      --text-color: rgba(255, 255, 255, 0.9);
      --nav-bg: rgba(0, 0, 0, 0.3);
      --nav-border: rgba(0, 0, 0);
    }
  }

  html.dark {
    --bg-color: #171717;
    --text-color: rgba(255, 255, 255, 0.9);
    --nav-bg: rgba(0, 0, 0, 0.3);
    --nav-border: rgba(0, 0, 0);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  h1,
  h2,
  h3,
  span,
  img,
  p,
  a {
    color: var(--text-color);
  }

  .svg {
    color: red;
    fill: red;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
